<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988191275258-57ems8hai8nj1cijh89mus5sr64s4a4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988191275258-57ems8hai8nj1cijh89mus5sr64s4a4j</string>
	<key>API_KEY</key>
	<string>AIzaSyAEt5rs5FmDtxFpENlJzoE0ooMvCZH5HAE</string>
	<key>GCM_SENDER_ID</key>
	<string>988191275258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.promodeal.transproject</string>
	<key>PROJECT_ID</key>
	<string>transproject-2c48c</string>
	<key>STORAGE_BUCKET</key>
	<string>transproject-2c48c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988191275258:ios:e656f2a0654a91597a7143</string>
	<key>DATABASE_URL</key>
	<string>https://transproject-2c48c.firebaseio.com</string>
</dict>
</plist>